#logo-footer {
  display: inline-block; /* Assurez-vous que l'image est affichée en tant que bloc pour pouvoir centrer horizontalement */
  margin: 0 auto;
  vertical-align: middle;
}

.pagination-link {
  margin-left: 10px;
  font-size: 1.3rem;
  color: #ff8264;
  text-decoration: none; /* optionnel : pour enlever le soulignement */
}

/* Ajuste la hauteur minimale des images de recettes uniquement sur mobile */
@media (max-width: 767.98px) {
  .recipe-img {
    min-height: 200px;
    object-fit: cover;
  }
}