#logo-footer {
  display: inline-block; /* Assurez-vous que l'image est affichée en tant que bloc pour pouvoir centrer horizontalement */
  margin: 0 auto;
  vertical-align: middle;
}

.pagination-link {
  margin-left: 10px;
  font-size: 1.3rem;
  color: #ff8264;
  text-decoration: none; /* optionnel : pour enlever le soulignement */
}

/*-----------Bootstrap cards--------------------*/
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 575.98px) {
  .card img {
    min-height: 200px; /* Ajuste selon le rendu souhaité */
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  margin: 0 0 0.5em 0;
}

.card-text {
  flex-shrink: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1em;
}

.card a.btn {
  margin-top: auto;
  align-self: start; 
  /* align-self: center; */
}

.card-buttons {
  display: flex;
  gap: 0.5em;
  justify-content: center; /* ou 'space-between' ou 'flex-start' selon le rendu souhaité */
  flex-wrap: wrap; /* utile si ça déborde en mobile */
  margin-top: auto;
}
